services:
  laravel-app:
    build:
      context: .
      dockerfile: docker/prod/php/php.dockerfile
    volumes:
      - ./src:/var/www/html   
      - ./src/storage:/var/www/html/storage
      - ./src/bootstrap/cache:/var/www/html/bootstrap/cache
    command: composer install --no-dev --optimize-autoloader  
    environment:
      APP_ENV: production
      APP_DEBUG: false
    networks:
      - npm_network

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./src:/var/www/html
      - ./docker/prod/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel-app
    networks:
      - npm_network
 

  artisan:
    build:
      context: .
      dockerfile: docker/prod/artisan/artisan.dockerfile
    volumes:
      - ./src:/var/www/html
    networks:
      - npm_network
    depends_on:
      - laravel-app
      
  composer:
    image: composer:latest
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    command: composer install --no-dev --optimize-autoloader
    networks:
      - npm_network


networks:
  npm_network:
    external: true
